* {
  margin: 0;
  padding: 0;
  background-color: maroon;
  color: white;
  font-family: 'Great Vibes', cursive;
}

body {
  display: flex;
}

#left, #right {
  width: 50%;
  justify-content: center;
}

#left img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 1rem ridge silver;
}
