* {
  margin: 0;
  padding: 0;
  background-color: maroon;
  color: white;
  font-family: 'Great Vibes', cursive;
}

body {
  display: flex;
}

#left, #right {
  width: 50%;
  justify-self: center;
  align-self: center;
}

#left img {
  width: 350px;
  height: auto;
  border-radius: 50%;
  border: 1rem ridge silver;
}

a {
 padding: 7px 10px;
 background-color: silver;
 border-radius: 10%;
 font-family: 'Calibri';
 font-style: italic;
}
